:root {
  --main-color: #46466e;
  --separator-color: #e6e6f0;
  --link-color: #24a3ff;
  --color-accent: #f0145a;
  --background-color: #f5f5fa;
  --main_text_color: #323264;
  --secondary-text-color: #b3b3ba;
  --heading-text-color: gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
  --Gradient-Red-Text: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.wrapperr {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
  z-index: 2;
}
p {
  margin-bottom: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  color: #323264;
  width: 100%;
}

.bg-color {
  background: linear-gradient(
    229deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0 0 12px 12px;
}
.bg_grey {
  min-height: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0px 0px 12px 12px;
  background: #cacadb;
}
.bg_light_grey {
  min-height: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 0px 0px 12px 12px;
  background: #e7e7f2;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/*----------------------------min-wiidth-360px-------------*/
@media screen and (min-width: 360px) {
  .contacts {
    background-color: var(--background-color);
  }

  /*------------------------HEADER------------------------------------*/
  .header {
    width: 100%;
    display: grid;
    grid-auto-rows: max-content;
    position: absolute;
    top: 0;
    background: url(../images/Symbol.png) no-repeat top center/cover;
    min-height: 100vh;
  }

  .contacts {
    background: rgba(245, 245, 250, 0.2);
    z-index: 3;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
  }

  .radio-input:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .custom-radio-input[type="radio"] {
    display: none;
  }
  .custom-radio-input[type="radio"] + .radio-input {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    width: 33px;
    height: 25px;
    border-radius: 8px;
    padding: 5px 7px;
  }
  .custom-radio-input[type="radio"]:checked + .radio-input {
    background-color: var(--color-accent);
    color: #ffffff;
  }
  .custom-radio-input [type="radio"]:hover + .radio-input {
    background-color: var(--background-color);
  }

  .tel_info {
    font-weight: 700;
    color: #fff;
  }

  .logo {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .logo_box {
    min-width: 142px;
    display: flex;
    align-items: start;
  }
  .logo_box a svg {
    width: 69.3px;
    height: 32px;
  }
  .link_team {
    color: var(--main_text_color);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  /* -----------------------------------nav-menu-----------------*/
  .active_class {
    position: fixed;
    background: rgba(50, 50, 100, 0.7);
  }
  .navMenu {
    z-index: 200;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .menuItem a:active {
    color: var(--color-accent);
  }
  .menuItem {
    display: block;
    background-color: #f5f5fa;
    border-radius: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    text-decoration: none;
    margin-left: 12px;
    margin-right: 12px;
  }
  .menuItem:hover {
    background-color: #e6e6f0;
  }

  .hamburger {
    position: absolute;
    z-index: 100;
    top: 50px;
    right: 1rem;
    cursor: pointer;
    border-radius: 12px;
    background: none;
  }
  .hamburger svg rect {
    fill: transparent;
  }
  .hamburger svg rect:hover {
    fill: rgba(255, 255, 255, 0.2);
  }

  .closeIcon {
    display: none;
    position: fixed;
    z-index: 100;
    top: 50px;
    right: 2rem;
    cursor: pointer;
    border-radius: 12px;
  }

  .menu {
    position: fixed;
    transform: translateY(-200%);
    transition: transform 0.2s;
    border-radius: 12px;
    top: 10px;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    z-index: 99;
    background-color: #ffffff;
    list-style: none;
    padding-top: 7rem;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 0;
  }

  .menu li a {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--link-color);
  }
  .menu li.current_link a {
    color: var(--color-accent);
  }
  .showMenu {
    transform: translateY(0);
  }
  ul {
    padding-left: 0;
  }
  hr {
    border: 0;
  }
  .link_team {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
  }

  /*--------------------------first screen-----------------------------*/

  .first_screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading-h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    color: #ffffff;
    text-align: center;
    z-index: 1;
  }
  .scroll {
    position: absolute;
    bottom: 30px;
    cursor: pointer;
  }
  a.scroll-btn:hover svg circle {
    stroke: var(--color-accent);
  }
  a.scroll-btn:hover svg path {
    stroke: var(--color-accent);
  }
  /*---------------------------SECTION-tab-menu----------------------------*/
  .tab-menu {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    width: 360px;
  }
  .nav {
    margin-left: 30px;
    display: flex;

    flex-wrap: nowrap;
    padding: 0;
    margin-bottom: 0;
    align-items: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    --bs-nav-link-color: var(--secondary-text-color);
    overflow-x: auto;
  }
  .nav::-webkit-scrollbar {
    width: 0;
  }

  .nav-link {
    padding: 0 30px 0 0;
  }
  .nav :last-child {
    padding-right: 60px;
  }
  .tab-menu {
    width: 100%;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    color: var(--secondary-text-color);
    white-space: nowrap;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .h2-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
    white-space: normal;
  }
  .active {
    background: linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .flex-row {
    flex-direction: row;
    gap: 30px;
  }
  .flex-columns {
    flex-direction: column;
  }
  .tab-content > .active {
    margin-top: 30px;
    -webkit-text-fill-color: #ffffff;
  }
  .tab-content p {
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    white-space: normal;
  }
  .line {
    height: 4px;
    background: rgba(255, 255, 255, 0.3);

    margin-top: 30px;
    margin-bottom: 30px;
  }
  .tab-pane .fade .active .show {
    color: #ffffff;
  }
  .mr-ml {
    margin-right: 30px;
    margin-left: 30px;
  }
  .nav-link:focus,
  .nav-link:hover {
    color: var(--color-accent);
  }
  .tab-pane {
    min-height: 300px;
  }
  /*-------------------SECTION SERVICES--------------------------*/
  .services {
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 60px;
  }
  .mt {
    margin-top: 30px;
  }
  .link-serv {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--link-color);
  }
  .services-link {
    margin-bottom: 10px;
  }

  .services-link:hover .link-serv svg path {
    stroke: var(--color-accent);
  }
  .services-link:hover .link-serv {
    color: var(--color-accent);
  }

  .services-heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .icon-serv svg {
    background-color: #ffffff;
    border-radius: 24px;
    padding: 14px;
    margin-bottom: 30px;
  }
  .article-h3 a {
    color: var(--link-color);
    font-size: 22px;
    font-weight: 700;
  }
  .article-h3 :hover {
    color: var(--color-accent);
  }
  .article-description {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
    margin-top: 15px;
  }
  .article {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .article-services {
    margin-top: 30px;
  }
  .services-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
  }
  .services-h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    background: var(
      --Gradient-Red-Text,
      linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .services-description {
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
  }
  .send {
    text-align: center;
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    display: block;
    background-color: var(--link-color);
    color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  }
  .send_consultation {
    width: 208px;
    padding: 18px 30px;
  }
  .send:hover {
    cursor: pointer;
    background-color: #0085ff;
  }
  .send:active {
    background-color: #006ccf;
  }
  .btn_active {
    background-color: #ededf7;
    content: "Send";
    box-shadow: none;
    color: var(--main_text_color);

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }
  .btn_active:hover {
    background-color: #ededf7;
  }

  .line_separator {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
  }
  .area_heading {
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 30px;
    color: #ffffff;
  }
  .list_items {
    columns: 1;
    column-gap: 30px;
  }
  .list_items p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
  .list_items li {
    color: var(--color-accent);
    margin-bottom: 15px;
  }
  .list_items li:last-child {
    margin-bottom: 0;
  }
  .list_items li:nth-child(4) p {
    margin-bottom: 30px;
  }
  .mb {
    margin-bottom: 60px;
  }

  /*--------------------------team section----------------------*/
  .team {
    margin-top: 30px;
  }
  .owl-item.active h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    -webkit-text-fill-color: var(--secondary-text-color);
  }
  .owl-item.active h4.position {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 0;
    -webkit-text-fill-color: var(--secondary-text-color);
  }

  .owl-carousel {
    display: block;
    color: #24a3ff;
  }
  #slider {
    border-radius: 0 0 12px 12px;
  }
  .owl-item.active a.article_link {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-text-fill-color: var(--link-color);
  }

  .slider-link:hover a.article_link svg path {
    stroke: var(--color-accent);
  }
  .slider-link:hover a.article_link {
    -webkit-text-fill-color: var(--color-accent);
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
    margin: 5px 7px;
    background: var(--link-color);
    opacity: 0.2;
    display: block;
    margin-top: 30px;
    transition: opacity 0.2s ease;
    border-radius: 30px;
  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--link-color);
    opacity: 1;
  }
  .owl-theme .owl-dots,
  .owl-theme .owl-nav {
    background: #ffffff;
  }
  .owl-carousel .owl-stage-outer {
    background: transparent;
  }
  .slider-link {
    background-color: var(--background-color);
    border-radius: 12px;
    padding: 30px;
  }
  .slider-description {
    margin-top: 5px;

    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
  }
  .owl-item.active p.slider-description {
    background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .item-article img {
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    width: 100%;
    height: 500px;
  }

  /*---------------------section Partners---------------------*/
  .partners {
    margin-top: 60px;
  }
  .partners-heading {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
  }
  .partners-group {
    max-height: calc(120px * 6);
    overflow-y: auto;
  }
  .partners-group::-webkit-scrollbar {
    width: 0;
  }
  .partners-group .partners-item {
    height: 120px;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .partners-group .partners-item img {
    max-width: 40%;
    max-height: 100%;
  }
  .bg_hillel {
    background: #1c4280;
  }
  .bg_wannabizz {
    background: #143646;
  }
  .bg_tapgerine {
    background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
  }
  .bg_3dlook {
    background: #9e4dc3;
  }
  .bg_orangear {
    background: #fd9339;
  }
  .bg_adtelligent {
    background: #e2e2e4;
  }
  .bg_clickky {
    background: #c71c36;
  }
  .bg_ecolease {
    background: #dcf3f9;
  }
  .bg_ingratek {
    background: #eaeaea;
  }
  .bg_citypar {
    background: #282240;
  }
  .bg_artprint {
    background: #1d4568;
  }
  .bg_ultimatecard {
    background: #000;
  }

  /*-------------------------section publication------------------------*/

  .section-publication {
    background: var(--background-color);
    padding: 30px;
  }
  .card-publication {
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    justify-self: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .publication {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
  }
  .card-publication img {
    border-radius: 8px 8px 0 0;
  }
  .publication-description {
    padding: 30px;
    background: #ffffff;
    border-radius: 0 0 12px 12px;
  }
  .publication-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: var(--link-color);
  }
  .publication-link:hover {
    color: var(--color-accent);
  }
  .publication-date {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1px;
    color: var(--secondary-text-color);
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .line-card {
    height: 4px;
    background: var(--secondary-text-color);
  }
  .publication-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000;
  }
  .border-radius {
    border-radius: 12px 12px 0 0;
  }
  .line_width {
    height: 2px;
    margin-bottom: 30px;
  }
  /*-----------------------footer---------------------------*/
  .footer-screen {
    background-color: var(--background-color);
    padding-top: 30px;
    position: relative;
    bottom: 0;
  }

  .footer {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .info {
    text-align: center;
  }
  .adress {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
    color: var(--main_text_color);
  }
  .on_map a {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    letter-spacing: 1px;
    color: var(--link-color);
  }
  .on_map a:hover {
    color: var(--color-accent);
  }
  .mail a:hover {
    color: var(--color-accent);
  }
  .social {
    margin-top: 21px;
    margin-bottom: 10px;
    line-height: 19.5px;
  }
  .social a:hover svg path {
    cursor: pointer;
    fill: var(--color-accent);
  }
  .tel {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .tel a {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    color: var(--main_text_color);
  }
  .mail a {
    font-weight: 700;
    line-height: 19.5px;
    color: var(--link-color);
  }

  .company {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: var(--secondary-text-color);
  }
  .adress_header,
  .separator,
  .social_header,
  .menu_list {
    display: none;
  }
  .owl-nav {
    display: none;
  }

  /*----------------------POPUP-------------------------------*/

  .popup {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 100, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;

    box-shadow: 0px 15px 80px 0px rgba(40, 40, 86, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .open {
    opacity: 1;
    visibility: visible;
  }
  .popup.open.contact_form {
    opacity: 1;
  }
  .contact_form {
    position: relative;
    background-color: var(--background-color);
    padding: 30px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .pop_close {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  input:focus {
    outline: 1px solid var(--link-color);
  }
  input:invalid {
    outline: 1px solid #f00;
    color: #f00;
  }

  textarea:invalid {
    outline: 1px solid #f00;
    color: #f00;
  }
  input:disabled {
    border: 1px solid #ededf7;
    background: #ededf7;
  }
  textarea:disabled {
    border: 1px solid #ededf7;
    background: #ededf7;
  }

  textarea:focus {
    outline: 1px solid var(--link-color);
  }
  input,
  textarea {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
  }
  .h3-form-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
  }

  input::placeholder,
  textarea::placeholder {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-text-color);
  }
  textarea {
    max-height: 130px;
    resize: none;
    margin-bottom: 30px;
  }
  .contact_form_titile {
    padding-right: 25px;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
  }
  .contact_tel a {
    color: var(--main-color);
  }
  .contact_tel {
    margin-bottom: 15px;
  }
  .contact_mail a {
    color: var(--link-color);
  }
  .contact_mail a:hover {
    color: var(--color-accent);
  }
}

/*----------------------------------min-width-600------------*/
@media screen and (min-width: 600px) {
  .header {
    gap: 30px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 50px;
    background-size: contain;
  }

  .contacts {
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
  }
  .article {
    margin-top: 60px;
  }
  .logo {
    padding: 0;
  }
  .logo_box svg {
    width: 21px;
    height: 47px;
  }
  .logo_box a svg {
    width: 130px;
    height: 60px;
  }
  .link_team {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
  }

  .social_header a svg path {
    fill: #ffffff;
  }

  .social_header:hover a svg path {
    fill: var(--color-accent);
  }
  .logo {
    flex-direction: column;
    gap: 0;
  }
  .hamburger {
    display: none;
  }
  .menu_list {
    display: flex;
    gap: 15px;
    list-style-type: none;
  }
  .menu_list li a {
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    padding-bottom: 3px;
  }
  .menu_list li a:hover {
    color: var(--color-accent);
    border-bottom: 2px solid;
  }
  li.link {
    color: var(--color-accent);
  }
  .menu_list li a.link_active {
    color: var(--color-accent);
    border-bottom: 2px solid;
  }
  .info {
    text-align: left;
  }
  .map,
  .social {
    display: flex;
    gap: 10px;
    align-items: baseline;
  }
  .social {
    align-items: center;
  }
  .company {
    text-align: center;
  }

  .nav {
    margin-left: 60px;
  }
  .mr-ml {
    margin-right: 60px;
    margin-left: 60px;
  }
  .article {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 60px;
  }
  .team {
    margin-top: 60px;
  }
  .partners-group {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .partners-item {
    width: 33%;
  }

  .scroll {
    bottom: 5vh;
  }
  .publication {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid_item {
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: stretch;
    justify-self: stretch;
  }
  .contact_form {
    width: 590px;
    min-height: 552px;
    border-radius: 12px;
  }
}

/*----------------------------------min-width-700------------*/
@media screen and (min-width: 700px) {
  .separator,
  .social_header {
    display: block;
  }
  .mt {
    margin-top: 60px;
  }
  .adress_header {
    display: block;

    font-weight: 400;
    line-height: 19.5px;
    letter-spacing: 0em;
    color: var(--secondary-text-color);
  }
  .contacts {
    justify-content: flex-start;

    gap: 6px;
  }
  .link_team {
    font-size: 36px;
    line-height: 44px;
  }
  .logo,
  .contacts {
    padding: 0;
  }
  .section-publication {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0;
  }
  .footer-screen {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2, 50%);
    align-items: start;
    justify-content: space-between;
  }
  .social {
    min-width: 398px;
    padding: 0;
    margin: 0;
  }

  .company {
    text-align: right;
  }
}

/*----------------------------------min-width-1024------------*/
@media screen and (min-width: 1024px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
  }
  .first_screen {
    min-height: 100vh;
  }

  .logo {
    flex-direction: column;
  }
  .item-article {
    display: flex;
    flex-direction: row;
  }
  .owl-carousel .owl-item img {
    width: 400px;
    height: auto;
    border-radius: 12px 0 0 12px;
  }

  .slider-description {
    margin-bottom: 30px;

    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
  }

  .heading-h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  .logo {
    grid-row: 1 / span1;
  }
  .header {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    align-items: flex-start;
  }
  .nav-inline {
    top: -25px;
    position: relative;
    grid-column: 2 / span2;
  }
  .menu_list {
    justify-content: flex-end;
  }
  .partners-item {
    width: 25%;
  }
  .publication {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid_item {
    grid-column-start: 3;
  }
  .flex-columns {
    flex-direction: row;
  }
  .flex-row {
    flex-direction: column;
  }
  .nav {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    overflow-x: visible;
    justify-content: flex-end;
    padding-right: 60px;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
  }
  .line {
    display: none;
  }
  .nav {
    align-items: flex-end;
    justify-content: center;
  }
  .tab-content > .active {
    margin-top: 0;
  }

  .tab-menu {
    padding-left: 60px;
    padding-right: 60px;
  }
  .tab-content {
    margin-right: 0;
  }
  .nav-link:last-child {
    padding-right: 30px;
  }
  .nav-link.active {
    display: flex;
    flex-direction: column;
  }
  .tab-content > .active {
    display: flex;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
  }
}
/*----------------------------------min-width-1440------------*/
@media screen and (min-width: 1440px) {
  .first_screen {
    margin-left: auto;
    margin-right: auto;
  }
  .tab-menu {
    padding-left: 0;
    padding-right: 0;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .item-article {
    height: 284px;
  }
  .header,
  .first_screen {
    min-height: 60vh;
  }
  .scroll {
    bottom: 40vh;
  }
}
/*----------------------------------min-width-1920------------*/
@media screen and (min-width: 1920px) {
  .tab-menu {
    max-width: 1360px;
  }
  .partners-group {
    max-width: 1720px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .mr-ml {
    margin-left: 160px;
    margin-right: 160px;
  }
  .section-publication {
    padding-left: 160px;
    padding-right: 160px;

    padding-top: 30px;
  }
}
.clearing {
  background-image: none;
  min-height: fit-content;
  position: relative;
}
a.link_active {
  color: var(--color-accent);
}
ul li a.link_active {
  color: var(--color-accent);
}
